{% extends 'base.html.twig' %}

{% block title %}Gesty - connexion{% endblock %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        {% if error %}
            <div class="alert alert-danger mt-4">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <h1 class="mt-4">Connexion</h1>
        <form action="{{ path('security.connexion') }}" method="post">
            <div class="form-group">
                <label for="user_email" class="form-label mt-4">Email address</label>
                <input type="email" class="form-control" id="user_email" placeholder="exemple@gesty.fr" name="_username" value="{{ last_username }}">
            </div>
            <div class="form-group">
                <label for="user_password" class="form-label mt-4">Password</label>
                <input type="password" class="form-control" id="user_password" placeholder="******" name="_password">
            </div>

            <button type="submit" class="btn btn-primary">
                Se connecter
            </button>
        </form>
    </div>
{% endblock %}