{% extends 'base.html.twig' %}

{% block title %}Gesty - inscription{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Inscription</h1>
        {{ form(form) }}
    </div>
{% endblock %}