{% extends 'base.html.twig' %}

{% block title %}Edit task{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger mt-4">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="mt-4">Modifier le pokemon : {{ pokemon }}</h1>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.type1) }}
            {{ form_widget(form.type1) }}
            {{ form_errors(form.type1) }}
        </div>
        <div class="form-group">
            {{ form_label(form.type2) }}
            {{ form_widget(form.type2) }}
            {{ form_errors(form.type2) }}
        </div>
        <div class="form-group">
            {{ form_label(form.generation) }}
            {{ form_widget(form.generation) }}
            {{ form_errors(form.generation) }}
        </div>
        <div class="form-group">
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}