{% extends 'base.html.twig' %}

{% block title %}Liste des Pokémon{% endblock %}

{% block body %}
    <h1>Liste des Pokémon</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Name</th>
            <th scope="col">Type 1</th>
            <th scope="col">Type 2</th>
            <th scope="col">Total</th>
            <th scope="col">HP</th>
            <th scope="col">Attack</th>
            <th scope="col">Defense</th>
            <th scope="col">Spe.Atk</th>
            <th scope="col">Spe.Def</th>
            <th scope="col">Speed</th>
            <th scope="col">Generation</th>
            <th scope="col">Legendary</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for pokemon in pagination %}
            <tr class="table-primary">
                <td scope="row">{{ pokemon.number }}</td>
                <td scope="row">{{ pokemon.name }}</td>
                <td scope="row">{{ pokemon.type1 }}</td>
                <td scope="row">{{ pokemon.type2 }}</td>
                <td scope="row">{{ pokemon.total }}</td>
                <td scope="row">{{ pokemon.hp }}</td>
                <td scope="row">{{ pokemon.attack }}</td>
                <td scope="row">{{ pokemon.defense }}</td>
                <td scope="row">{{ pokemon.spAtk }}</td>
                <td scope="row">{{ pokemon.spDef }}</td>
                <td scope="row">{{ pokemon.speed }}</td>
                <td scope="row">{{ pokemon.generation }}</td>
                {% if not pokemon.legendary %}
                    <td scope="row"> Non légendaire</td>
                    <td>
                        <a href="{{ path('poke.edit' , { id : pokemon.id}) }}" class="badge bg-info"> Modifier </a>
                        <a href="{{ path('poke.delete' , { id : pokemon.id}) }}" class="badge bg-warning"> Supprimer</a>
                    </td>
                {% else %}
                    <td scope="row"> Légendaire</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation d-flex justify-content-center mt-4">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
