{% extends 'base.html.twig' %}

{% block title %}Gest{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger mt-4">
                {{ message }}
            </div>
        {% endfor %}
    <h1 class="mt-4">Connexion</h1>
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="form-group">
        {{ form_label(form.password) }}
        {{ form_widget(form.password) }}
        {{ form_errors(form.password) }}
    </div>
    <div class="form-group">
        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}
    </div>
{% endblock %}
